In [ ]:
## Car Sales ##
## Answer questions
# III. Where do we find the most used car or new car listing from this platform?
#       - define the geographical level in your analysis,state,city, or zipcode?
#       - visualize the data on a map.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv("Online_Cars_Sale_Marketplace.csv")

In [12]:
data.head()

,Year,Make,Model,Used/New,Price,ConsumerRating,ConsumerReviews,SellerType,SellerName,SellerRating,...,InteriorColor,Drivetrain,MinMPG,MaxMPG,FuelType,Transmission,Engine,VIN,Stock#,Mileage
0,2019,Toyota,Sienna SE,Used,"$39,998",4.6,45,Dealer,CarMax Murrieta - Now offering Curbside Pickup...,3.3,...,Black,Front-wheel Drive,19,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,5TDXZ3DC2KS015402,22998646,29403
1,2018,Ford,F-150 Lariat,Used,"$49,985",4.8,817,Dealer,Giant Chevrolet,4.8,...,Black,Four-wheel Drive,19,24,Gasoline,10-Speed Automatic,3.5L V6 24V PDI DOHC Twin Turbo,1FTEW1EG2JFD44217,22418A,32929
2,2017,RAM,1500 Laramie,Used,"$41,860",4.7,495,Dealer,Gill Auto Group Madera,4.6,...,Black,Four-wheel Drive,15,21,Gasoline,8-Speed Automatic,5.7L V8 16V MPFI OHV,1C6RR7VT5HS842283,NG277871G,23173
3,2021,Honda,Accord Sport SE,Used,"$28,500",5.0,36,Dealer,AutoSavvy Las Vegas,4.6,...,–,Front-wheel Drive,29,35,Gasoline,Automatic CVT,1.5L I4 16V GDI DOHC Turbo,1HGCV1F49MA038035,54237,10598
4,2020,Lexus,RX 350,Used,"$49,000",4.8,76,Dealer,Lexus of Henderson,4.8,...,Birch,Front-wheel Drive,20,27,Gasoline,8-Speed Automatic,3.5L V6 24V PDI DOHC,2T2AZMAA8LC156270,HDT4181A,28137

In [13]:
data.shape

(9379, 32)

In [14]:
data['Model'].value_counts()

Grand Cherokee Limited        266
CR-V EX-L                     189
X5 xDrive40i                  164
XT5 Luxury                    142
RAV4 LE                       112
                             ...
F-PACE 30t Prestige             1
RX 350L L                       1
Z4 sDrive35i                    1
Highlander Hybrid Platinum      1
Santa Fe Ultimate 2.4           1
Name: Model, Length: 1304, dtype: int64

In [16]:
data['Make'].value_counts()

BMW              944
Mercedes-Benz    810
Toyota           797
Honda            713
Ford             580
Jeep             495
Lexus            484
Audi             424
Chevrolet        416
Subaru           310
Cadillac         299
Nissan           251
GMC              250
Kia              240
Acura            231
INFINITI         216
Hyundai          212
Mazda            205
Tesla            186
Land             174
Volvo            148
RAM              145
Dodge            145
Volkswagen       140
Porsche          134
Lincoln          120
Buick            114
Chrysler          39
Alfa              38
Jaguar            30
Mitsubishi        20
Genesis           19
Maserati          15
Lamborghini       14
Bentley            6
MINI               5
Scion              4
FIAT               2
Mercury            2
Saturn             1
Ferrari            1
Name: Make, dtype: int64

In [19]:
data.isnull().sum()

Year                       0
Make                       0
Model                      0
Used/New                   0
Price                      0
ConsumerRating             0
ConsumerReviews            0
SellerType                 0
SellerName                 0
SellerRating               0
SellerReviews              0
StreetName                 0
State                      0
Zipcode                    0
DealType                 222
ComfortRating              0
InteriorDesignRating       0
PerformanceRating          0
ValueForMoneyRating        0
ExteriorStylingRating      0
ReliabilityRating          0
ExteriorColor              0
InteriorColor              0
Drivetrain                 0
MinMPG                     0
MaxMPG                     0
FuelType                   0
Transmission               0
Engine                     0
VIN                        0
Stock#                     0
Mileage                    0
dtype: int64

In [23]:
data['Used/New'].value_counts()

Used                       7900
BMW Certified               247
Mercedes-Benz Certified     223
Honda Certified             208
Toyota Certified            153
Cadillac Certified          105
Ford Certified               71
Subaru Certified             58
Jeep Certified               55
Nissan Certified             50
Acura Certified              47
Chevrolet Certified          40
INFINITI Certified           34
Kia Certified                34
Volvo Certified              33
Porsche Certified            25
RAM Certified                24
Buick Certified              20
Volkswagen Certified         17
GMC Certified                13
Dodge Certified              10
Alfa Romeo Certified          7
Bentley Certified             2
MINI Certified                1
Ferrari Certified             1
Maserati Certified            1
Name: Used/New, dtype: int64

In [24]:
data['State'].value_counts()

TX          1225
FL           888
CA           668
IL           593
NY           440
GA           392
AZ           344
VA           340
NJ           337
OH           329
MD           323
MA           320
PA           282
MI           268
NC           229
MN           228
IN           183
MO           170
TN           166
WA           165
SC           163
CO           158
WI           127
CT            99
NV            93
KS            81
NH            80
KY            79
UT            73
AL            72
LA            51
OK            45
AR            41
OR            37
NE            37
IA            35
RI            35
ID            28
SD            23
MS            23
HI            16
ND            14
WV            13
RT            13
DE            13
ME             8
VT             7
NM             5
MT             4
WY             3
Michigan       2
Bldg           2
AZ-101         2
Suite          2
US-12          1
Glens          1
SE             1
AK             1
US-169         1
Name: State, dtype: int64

In [27]:
data['Zipcode'].value_counts()

76051    69
75093    65
30096    63
29607    48
75034    46
         ..
14224     1
23452     1
07940     1
96021     1
06092     1
Name: Zipcode, Length: 2163, dtype: int64